<!--=====================================
    Breadcrumb
    ======================================-->  
	
	<div class="ps-breadcrumb">

        <div class="container">

            <ul class="breadcrumb">

                <li><a href="index.html">Home</a></li>

                <li>Carrito de compras</li>

            </ul>

        </div>

    </div>

    <!--=====================================
    Shopping Car
    ======================================--> 

    <div class="ps-section--shopping ps-shopping-cart">

        <div class="container">

            <div class="ps-section__header">

                <h1>Carrito de compras</h1>

            </div>

            <div class="ps-section__content">

                <div class="table-responsive">

                    <table class="table ps-table--shopping-cart">

                        <thead>

                            <tr>

                                <th>Nombre del producto</th>
                                <th>Precio</th>
                                <th>ENVÍO</th>
                                <th>CANTIDAD</th>
                                <th>TOTAL</th>
                                <th></th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td>

                                    <div class="ps-product--cart">

                                        <div class="ps-product__thumbnail">

                                            <a href="product-default.html"><img src="assets/img/products/electronic/1.jpg" alt=""></a>

                                        </div>

                                        <div class="ps-product__content">

                                            <a href="product-default.html">Saco de zanahoria mediana</a>

                                            <p>Vendido por:<strong> COFIAP</strong></p>

                                        </div>

                                    </div>

                                </td>

                                <td class="price">S/.80.00</td>

                                <td class="text-center">S/.10</td>


                                <td>

                                    <div class="form-group--number">

                                        <button class="up">+</button>

                                        <button class="down">-</button>

                                        <input class="form-control" type="text" placeholder="1" value="1">

                                    </div>

                                </td>

                                <td>S/.90.00</td>                             

                                <td>

                                    <a href="#">
                                        <i class="icon-cross"></i>
                                    </a>

                                </td>

                            </tr>

                            <tr>

                                <td>

                                    <div class="ps-product--cart">

                                        <div class="ps-product__thumbnail">

                                            <a href="product-default.html"><img src="assets/img/products/clothing/5.jpg" alt=""></a>

                                        </div>

                                        <div class="ps-product__content">

                                            <a href="product-default.html">Pack 10 Tablas de Madera de Pino</a>

                                            <p>Vendido por:<strong> Alex Cordova</strong></p>

                                        </div>

                                    </div>

                                </td>

                                <td class="price">S/.150.00</td>

                                <td class="text-center">S/.0</td>

                                <td>

                                    <div class="form-group--number">
                                        <button class="up">+</button>
                                        <button class="down">-</button>
                                        <input class="form-control" type="text" placeholder="1" value="1">
                                    </div>

                                </td>

                                <td>S/.150.00</td>

                                <td>
                                    <a href="#">
                                        <i class="icon-cross"></i>
                                    </a>
                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <hr>

                <div class="d-flex flex-row-reverse">
                  <div class="p-2"><h3>Total <span>S/.240.00</span></h3></div>             
                </div>

                <div class="ps-section__cart-actions">

                    <a class="ps-btn" href="index.html">
                        <i class="icon-arrow-left"></i> Volver a la tienda
                    </a>

                    <a class="ps-btn" href="/checkout">
                        Pasar por la caja <i class="icon-arrow-right"></i> 
                    </a>

                </div>

            </div> 
            
        </div>

    </div>
