<!--=====================================
	Header
	======================================-->

    <header class="header header--standard header--market-place-4" data-sticky="true">

    	<!--=====================================
		Header TOP
		======================================-->

        <div class="header__top">

            <div class="container">

            	<!--=====================================
				Social 
				======================================-->

                <div class="header__left">
                    <ul class="d-flex justify-content-center">
						<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
						<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>					
						<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter mr-4"></i></a></li>
						<li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube mr-4"></i></a></li>
					</ul>
                </div>

                <!--=====================================
				Contact & lenguage 
				======================================-->

                <div class="header__right">
                    <ul class="header__top-links"> 
                        <li><a href="#">Vender en <br>PriMarket</a></li>
                        
                        <li><a href="#">Lista de tienda</a></li>
                    	<li><i class="icon-telephone"></i> Línea directa:<strong> 987654321</strong></li>                     
                        <li>
                            <div class="ps-dropdown language"><a href="#"><img src="assets/img/template/en.png" alt="">English</a>
                                <ul class="ps-dropdown-menu">
                                    <li><a href="#"><img src="assets/img/template/es.png" alt=""> Spanish</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div><!-- End Container -->

        </div><!-- Header Top -->

      	<!--=====================================
		Header Content
		======================================-->

        <div class="header__content">

            <div class="container">

                <div class="header__content-left">

                	<!--=====================================
					Logo
					======================================-->

                	<a class="ps-logo" href="index.html">
                		<img src="assets/img/template/logo_light.png" alt="">
                	</a>

                	<!--=====================================
					Menú
					======================================-->

                    <div class="menu--product-categories">
                        
                        <div class="menu__toggle">
                        	<i class="icon-menu"></i>
                        	<span> Comprar por departamento</span>
                        </div>

                        <div class="menu__content">
                            <ul class="menu--dropdown">
                                <li>
                                	<a href="#"><i class="icon-star"></i> Grandes promociones</a>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                	<a href="#"><i class="icon-laundry"></i> Frutas</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4>Frutas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a href="#">Manzanas &amp; Plátanos</a>
                                                </li>
                                                <li><a href="#">Fresas &amp; Naranjas</a>
                                                </li>
                                                <li><a href="#">Uvas, Mangos &amp; Kiwis</a>
                                                </li>
                                                <li><a href="#">Peras &amp; Piñas</a>
                                                </li>
                                                <li><a href="#">Snadías</a>
                                                </li>
                                                <li><a href="#">Mangos</a>
                                                </li>
                                                <li><a href="#">Arándano</a>
                                                </li>
                                                <li><a href="#">Limón</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4>Verduras &amp; Derivados<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a href="#">Zanahorias</a>
                                                </li>
                                                <li><a href="#">Brócoli &amp; Tomates</a>
                                                </li>
                                                <li><a href="#">Espinacas</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-shirt"></i> Carnes &amp; Pescados</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-lampshade"></i> Granos, Cereales &amp; Semillas</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-heart-pulse"></i> Health &amp; Beauty</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-diamond2"></i> Frutos Secos &amp; Huevos</a>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                	<a href="#"><i class="icon-desktop"></i> Madera &amp; Fibras Naturales</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4>Madera &amp; Fibras Naturales<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a href="#">Roble &amp; Pino</a>
                                                </li>
                                                <li><a href="#">Abedul</a>
                                                </li>
                                                <li><a href="#">Caoba</a>
                                                </li>
                                                <li><a href="#">Cerezo</a>
                                                </li>
                                                <li><a href="#">Tejo &amp; Abeto</a>
                                                </li>
                                                <li><a href="#">Ebano</a>
                                                </li>
                                                <li><a href="#">Nogal &amp; Sauce</a>
                                                </li>
                                                <li><a href="#">Manzano</a>
                                                </li>
                                                <li><a href="#">Jacaranda</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-baby-bottle"></i> Yute &amp; Cáñamo</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-baseball"></i> Paja &amp; Lana</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-smartphone"></i> Polietileno &amp; Polipropileno</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-book2"></i> Loza &amp; Arcilla</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-car-siren"></i> Piedras &amp; Gress</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-wrench"></i> Arena</a>
                                </li>
                                <li>
                                	<a href="#"><i class="icon-tag"></i> Gomas &amp; Cauchos</a>
                                </li>
                            </ul>

                        </div>

                    </div><!-- End menu-->

                </div><!-- End Header Content Left-->

                <!--=====================================
				Search
				======================================-->

                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get">
                        <div class="form-group--icon">
                        	<i class="icon-chevron-down"></i>
                            <select class="form-control">
                                <option value="1">Todo</option>
                                <option value="1">Semillas</option>
                                <option value="1">Frutas/Verduras</option>
                                <option value="1">Derivados</option>
                            </select>
                        </div>
                        <input class="form-control" type="text" placeholder="Estoy interesado por...">
                        <button>Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">

                    <div class="header__actions">

                    	<!--=====================================
						Wishlist
						======================================-->

                    	<a class="header__extra" href="#">
                    		<i class="icon-heart"></i><span><i>0</i></span>
                    	</a>

                    	<!--=====================================
						Cart
						======================================-->

                        <div class="ps-cart--mini">

                        	<a class="header__extra" href="#">
                        		<i class="icon-bag2"></i><span><i>2</i></span>
                        	</a>

                            <div class="ps-cart__content">

                                <div class="ps-cart__items">

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="assets/img/products/clothing/7.png" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">Saco de zanahoria mediana</a>
                                            <p><strong>Vendido por:</strong> COFIAP</p>
                                            <small>1 x s/.80.0</small>
                                        </div>

                                    </div>

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="assets/img/products/clothing/5.jpg" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">Pack 10 Tablas de Madera de Pino</a>
                                            <p><strong>Vendido por:</strong> Alex Cordova</p>
                                            <small>1 x S/.150.00</small>
                                        </div>

                                    </div>

                                </div>

                                <div class="ps-cart__footer">

                                    <h3>Sub Total:<strong>S/.130</strong></h3>
                                    <figure>
                                    	<a class="ps-btn" href="shopping-cart.html">Ver Carrito</a>
                                    	<a class="ps-btn" href="checkout.html">Verificar</a>
                                    </figure>

                                </div>

                            </div>

                        </div>

						<!--=====================================
						Login and Register
						======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                            	<i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right">
                            	<a href="/acceso">Acceder</a>
                            	<a href="/registro">Registrarse</a>
                            </div>
                        </div>

                    </div><!-- End Header Actions-->

                </div><!-- End Header Content Right-->

            </div><!-- End Container-->

        </div><!-- End Header Content-->

    </header>
