<!--=====================================
		Top Categoríes
		======================================-->  

        <div class="ps-top-categories">

            <div class="container">

                <h3>Categorías principales del mes</h3>

                <div class="row">

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/1.jpg" alt="">
                            <p>Verduras</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/2.jpg" alt="">
                            <p>Maderas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/3.jpg" alt="">
                            <p>Semillas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/4.jpg" alt="">
                            <p>Frutas &amp; Cereales</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/5.jpg" alt="">
                            <p>Plantas &amp; Derivados</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="assets/img/categories/6.jpg" alt="">
                            <p>Carnes &amp; Derivados</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- End Top Categories -->
