 <!--=====================================
    Login - Register Content
    ======================================--> 

    <div class="ps-my-account">

        <div class="container">
    
            <form class="ps-form--account ps-tab-root" action="link.html" method="get">
    
                <ul class="ps-tab-list">
    
                    <li class="active"><a href="/acceso">Acceder</a></li>
    
                    <li class=""><a href="/registro">Registrarse</a></li>
    
                </ul>
    
                <div class="ps-tabs">
    
                    <!--=====================================
                    Login Form
                    ======================================--> 
    
                    <div class="ps-tab active" id="sign-in">
    
                        <div class="ps-form__content">
    
                            <h5>Inicie sesión en su cuenta</h5>
    
                            <div class="form-group">
    
                                <input class="form-control" type="text" placeholder="Dirección de correo electrónico">
    
                            </div>
    
                            <div class="form-group form-forgot">
    
                                <input class="form-control" type="text" placeholder="Contraseña">
    
                                <a href="">¿Olvidó su contraseña?</a>
    
                            </div>
    
                            <div class="form-group">
    
                                <div class="ps-checkbox">
    
                                    <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
    
                                    <label for="remember-me">Recordar</label>
    
                                </div>
    
                            </div>
    
                            <div class="form-group submtit">
    
                                <button class="ps-btn ps-btn--fullwidth">Acceder</button>
    
                            </div>
    
                        </div>
    
                        <div class="ps-form__footer">
    
                            <p>Conectar con:</p>
    
                            <ul class="ps-list--social">
    
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>
    
                            </ul>
    
                        </div>
    
                    </div><!-- End Login Form -->
    
                </div>
    
            </form>
    
        </div>
    
    </div>